node_modules/
dist/
src/config/config.env
secrets/
build/
public/images
public/uploads
public/userAvatars
public/appAvatars
public/backupAppAvatars
public/takeouts
public/old_images
public/pgPhotoManagementAgain-images
public/pgPhotoManagerment_images
public/SHAFFEROTO
public/peopleTakeoutFiles
.env

